@charset "UTF-8";

/*  CONFIGURAÇÕES GERAIS */

*{
    margin:0;
    font-family:'Times New Roman', Times, serif;
    text-shadow:2px 2px 0 rgba(0,0,0,0.8);
    color:var(--cor2);
}

:root{
    --corDestaque:#00ff6a;
    --cor1:#06402B;
    --cor01:#052e1fe8;
    --cor2:#ffffff;
    --header:#022519;
    --corNull:#000000;
    --corBorda:#01140dfd;
    --corMenu:#022519c9;
}

body{
    background:
    linear-gradient(rgba(36, 36, 36, 0.452)),
    url("imagens/background3.png");

    background-size:cover;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}


/* LAYOUT GERAL */


.container{
    margin:20px 100px;
    flex:1;
}

.bandeija{
    border:1px solid var(--corBorda);
    border-radius:10px;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.493);
    margin:0 auto;
    width: 30%;
}

/* HEADER */


header{
    display:flex;
    background-color:var(--header);
    border:2px solid var(--cor01);
    border-radius: 10px;
    min-height:90px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */

.imagemsite{
    width:65px;
    height:65px;
    background-image:url(imagens/dino.png);
    background-size:cover;
    margin:15px 0 15px 20px;
    transition:0.2s;
}

.imagemsite:hover{
    background-image:url(imagens/dinohover.png);
}

.esquerda{
    display:flex;
    align-items:center;
}

#titulo{
    margin-left:20px;
    font-size:20px;
}

/* Menu */

.direita{
    margin-left:auto;
    display:flex;
}

.direita ul{
    list-style:none;
    display:flex;
    align-items:center;
    margin-right:20px;
    padding:0;
}

.direita li{
    margin: 20px 0;
    font-size: 18px;
}

.direita a{
    padding:5px;
    text-decoration:none;
    transition:0.25s;
}

.direita a:hover{
    color:var(--corDestaque);
}

.menuB {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* TÍTULOS GERAIS */


.tituloPrincipal{
    text-align:center;
    font-size:40px;
}

.tituloPrincipal p{
    margin:50px 0;
}

/* PÁGINA: CALCULADORA */


.calculadoraBody .bandeija{
    display:flex;
    align-items:center;
}

.calculadora {
    margin: auto;
    background-image: url(imagens/fundoCalc.png);
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
}

#tituloCalc {
    margin-bottom: 10px;
    text-align: center;
    text-shadow:2px 4px 2px rgba(0, 0, 0, 0.452);
}

.calcInfo{
    background-color: rgba(0, 0, 0, 0.363);
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
}

.calc {
    font-family: sans-serif;
    text-shadow: none;
    background-color: var(--header);
    border: 1px solid var(--corDestaque);
    border-radius: 5px;
}

.areaButton{
    text-align: center;
}

.calcBt{
    font-family: sans-serif;
    text-shadow: none;
    background-image: url(imagens/fundoBotaoCalc.png);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.resultadoArea {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 10px;
}

#danoFinal {
    color: yellow;
}


/* PÁGINA: PATCH NOTES */

.patch .bandeija{
    width: 50%;
    margin:0 auto;
    text-align:center;
    padding-bottom: 18px;
}

.videos{
    border-radius:10px;
    background-color:var(--cor01);
    text-align:center;
}

#titulosH2{
    font-size:24px;
    padding-top:25px;
}

.videos iframe{
    width:90%;
    padding-bottom:18px;
    border-top:5px solid var(--corBorda);
}

#maisPatches iframe{
    width:80%;
    border-top:5px solid var(--corBorda);
}

#ultimoPatch{
    margin-bottom:15px;
}

/* Botão */

#maisPatches{
    display:none;
}

.btnPatch{
    background-color:transparent;
    font-size:16px;
    display:flex;
    margin:0 auto;
    padding:0 10px;
    cursor:pointer;
    border-radius:6px;
    border:none;
    transition:0.25s;
}

.btnPatch:hover{
    color:var(--corDestaque);
}

/* FOOTER */


footer{
    display:flex;
    min-height:45px;
    background-color:transparent;
    flex-shrink:0;
}

.esquerdaF{
    display:flex;
    align-items:center;
}

.esquerdaF p{
    padding-left:10px;
    text-shadow:none;
}

.esquerdaF strong{
    text-shadow:none;
}

.direitaF{
    display:flex;
    align-items:center;
    margin-left:auto;
    padding-right:10px;
}

.direitaF h1{
    font-size:18px;
    text-shadow:none;
    font-weight:normal;
}

.direitaF p{
    text-shadow:none;
    text-indent:10px;
    font-size:14px;
}

/* ============================= */
/* RESPONSIVIDADE */
/* ============================= */

@media (max-width:740px){


/* Geral */

.container{
    margin:10px;
}

header{
    display: flex;
    align-items: center;
}

.menuB {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    position: relative;
}

.esquerda{
    display:flex;
    align-items:center;
}

#titulo{
    margin-left: 10px;
    font-size:18px;
}

.direita{
    margin-left:auto;
    margin-right:24px;
}

footer{
    margin-top:10px;
}

/* Menu Hamburguer */

.direita ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: var(--corMenu);
    backdrop-filter: blur(6px);

    transform: translateX(100%);
    transition: 0.35s;
}

.direita ul.ativo{
    transform: translateX(0);
    display:flex;
}

/*  PÁGINA - CALCULADORA */

.bandeija{
    width:92%;
    max-width:420px;
    margin:18px auto;
}

.calculadora{
    width:100%;
    max-width:380px;
    margin:0 auto;
}

.calcInfo{
    padding:18px;
}

#Dinossauro,
#Dinossauro2{
    width:100%;
}

/* PÁGINA - PATCH NOTES */

.patch .bandeija{
    width:60%;
}

.videos iframe{
    width:100%;
}

#maisPatches iframe{
    width:100%;
}

/* PÁGINA - CARDS */



}
